{{ define "content" }}

<h2 class="mb-4">Transaksi Projek</h2>

<div class="card mb-4">
    <div class="card-body">
        <table class="table mb-0">
            <thead class="thead-light">
                <tr>
                    <th>Nama Funder</th>
                    <th>Email</th>
                    <th>Nama Projek</th>
                    <th>Waktu</th>
                    <th>Biaya</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{ range .transactions }}
                <tr>
                    <td class="text-capitalize">{{ .User.Name }}</td>
                    <td >{{ .User.Email }}</td>
                    <td>{{ .Campaign.Name }}</td>
                    <td>{{ .CreatedAt }}</td>
                    <td style="color: rgb(15, 220, 83);">{{ .AmountFormatIDR }}</td>
                    <td class="text-capitalize status paid"  ><span style="display:block; width: 100px;
                        border-radius: 10px;
                        background: rgb(15, 220, 83);
                        color: #fff; text-align: center; line-height: 30px;">{{ .Status }}</span>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>

{{ end }}